{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}


<h1 class="display-5 text-center">Crear Sorteo</h1>


<form action="/reservar_guardia/" method="POST"
    style="display: flex; flex-direction: column; max-width:580px; margin-inline: auto ">
    <div class="d-flex justify-content-end">
        <button type="reset" class="btn btn-outline-secondary">Reset</button>
    </div>

    <form method="post">
        {% csrf_token %}
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" required><br><br>
        <label for="cantidad_ganadores">Cantidad de ganadores:</label>
        <input type="number" name="cantidad_ganadores" required min="1"><br><br>
        <label for="seleccionados">Participantes:</label>
        <select name="seleccionados" multiple required>
          {% for participante in participantes %}
            <option value="{{ participante.pk }}">{{ participante.username }}</option>
          {% endfor %}
    <p><br></p>
    <h5 class="display-7 text-center">{{error}}</h5>
    <input class="btn btn-primary" type="submit" value="Crear sorteo">
    <a href="{% url 'historial_sorteos' %}" style=margin-top:7px; class="btn btn-secondary">Cancelar</a>
    <!-- <a href="{% url 'guardias' %}" style=margin-top:8px; class="btn btn-secondary">Cancelar</a> -->
</form>
{% endblock %}