{% extends 'base.html' %}

{% block js%}
{% if not last_task %}
<script> 
  Swal.fire({
    "position": 'top',
    "title": '<strong>Algunas consideraciones</strong>',
    "icon": 'warning',
    "html": 
    '<ul><li>Usa el EPP Correcto.</li><li>Concéntrate en la tarea.</li><li>Si necesitas ayuda, pídela.</li></ul>' +
    '',
    "showCloseButton": true,
    "showCancelButton": true,
    "focusConfirm": false,
    "confirmButtonText":'<i class="bi bi-hand-thumbs-up-fill"></i> Genial!',
    "confirmButtonAriaLabel": 'Thumbs up, great!',
    "cancelButtonText":'<i class="bi bi-hand-thumbs-down-fill"></i> Nope!',
    "cancelButtonAriaLabel": 'Thumbs down'
  })
</script>
{% endif %}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<h1 class="display-5 text-center">Tarea Nueva</h1>

{{error}}
<form action="/create_task/" method="POST"
  style="display: flex; flex-direction: column; max-width: 40vw; margin-inline: auto">
  <div class="d-flex justify-content-end">
    <a class="btn btn-outline-primary" href="{% url 'last_task' %}"><i class="bi bi-clipboard2-pulse"></i>Last Task</a>
    &nbsp;
    <button type="reset" class="btn btn-outline-secondary">Reset</button>
  </div>
  

  {% csrf_token %}
  {{form | crispy }}
  <p><br></p>
  <input class="btn btn-primary" type="submit" value="Iniciar">
  <!-- <button type="button" onclick="call_last_task()" name="ultima_task">Last Task</button> -->
</form>

<script>
  let inputLocation = document.querySelector("#id_location");  
  let inputZona = document.querySelector("#id_zona");
  let inputArea = document.querySelector("#id_area");
  let inputTarea = document.querySelector("#id_tarea");
  
  let call_last_task = function(){
    console.log("llamado")
  }

  window.onload = function(){
    inputZona.disabled = true;
    inputArea.disabled = true;

    inputLocation.onchange = function(elemento){
      // console.log(elemento.target.value)
      if (elemento.target.value.startsWith("CF")){
        inputZona.disabled = true;
        inputArea.disabled = true;
        inputZona.value = "";
        inputArea.value = "";
      }
      else{
        inputZona.disabled = false;
        inputArea.disabled = false;
        inputZona.required = true;
        inputArea.required = true;
      }
    }
  }
</script>
{% endblock %}