{% extends 'base.html' %}
{% block js%}
{% if messages %}
{% for m in messages %}
<script>
  Swal.fire({
    // "position": 'top',
    "title": "{{m}}",
    "timer": 3000,
    "showConfirmButton": false,
    "text": "Empecemos a trabajar",
    "backdrop": `rgba(36, 125, 250, 0.43)`,
    // "imageUrl": 'https://gifdb.com/images/high/whip-angry-mr-burns-hans-moleman-simpsons-yoskjr7b6xpf12w5.gif',
    // "imageUrl": '/media/whips_yelling.gif', 
    "icon": 'success',
    "imageWidth": 350,
    "imageHeight": 200,
  })
</script>
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}

<h3 class="text-center">{{mensaje}}</h3>

<!-- ***************************************************************************************************************************************************** -->

<main class="container" style="max-width:580px;">
  <section class="card card-body">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
      <a class="btn btn-success w-50" href="/tasks/";><i class="bi bi-alarm-fill"></i><br>Tareas en Ejecución</a>
      <a class="btn btn-secondary w-50" href="/tasks_completed/"><i class="bi bi-check-square-fill"></i><br>Tareas completadas</a>
    </div>
  </section>

    <!-- ***************************************************************************************************************************************************** -->

  <section class="card card-body mt-2">
    <a class="btn btn-warning" href="/guardias/" ><i
        class="bi bi-calendar-check-fill"></i><br>Fechas de Guardias</a>
  </section>

      <!-- ***************************************************************************************************************************************************** -->

      <section class="card card-body mt-2">
        <a class="btn btn-info" href="/historial/" ><i
            class="bi bi-tornado"></i><br>Sorteos</a>
      </section>

  <!-- ***************************************************************************************************************************************************** -->

  <section class="card card-body mt-2">
    <!-- <h1 class="display-6 text-center">Enlaces</h1> -->
    <a class="btn btn-outline-primary" href="https://bitfarms.com/"; target="_blank"
      rel="noopener noreferrer"><strong>Bitfarms</strong>.com</a>
    <a class="btn btn-outline-primary" href="https://bitfarmsio868.sharepoint.com/sites/BitfarmsArgentina"
      style=margin-top:5px; target="_blank" rel="noopener noreferrer"><strong>Sharepoint</strong> Bitfarms ARG</a>
    <a class="btn btn-outline-primary" href="https://bitfarmsworkspace.slack.com" style=margin-top:5px;
      target="_blank" rel="noopener noreferrer"><strong>Slack</strong> Workspace</a>
    <a class="btn btn-outline-primary" href="https://mgmt.bitfarms.com/login" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>MGMT</strong> Bitfamrs</a>
    <a class="btn btn-outline-primary" href="https://tickets.binfra.ca/" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>Tickets</strong>.binfra.ca</a>
    <a class="btn btn-outline-primary" href="https://www.whatsminer.com/" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>Whatsminer</strong>.com</a>
  </section>
  <!-- ***************************************************************************************************************************************************** -->

  <!-- <section class="card card-body mt-3 mb-3">
    <h1 class="display-6 text-center">BTC/USD | 24horas</h1>
    {{ plot_html|safe }}
  </section> -->


  <section class="card card-body mt-2 mb-2">
    <script src="https://widgets.coingecko.com/coingecko-coin-list-widget.js"></script>
<coingecko-coin-list-widget  coin-ids="bitcoin,ethereum" currency="usd" locale="en"></coingecko-coin-list-widget>
    <!-- <table class="table sm">
      <thead>
        <tr>
          <th scope="col" style="text-align:center;">Crypto</th>
          <th scope="col" style="text-align:right;">Price (USD)</th>
          <th scope="col" style="text-align:center;">Change</th>
        </tr>
      </thead>
      <tbody>
        {% csrf_token %}
        {% for symbol, data in prices.items %}
        <tr>
          <th scope="row" style="text-align:center;">{{ symbol|cut:"/USD" }}</th>
          <td style="text-align:right;">{{ data.price|floatformat:"2g" }}</td>
          <td style="text-align:center;">
            {% if data.price > data.previous_price %}
            <i class="fas fa-arrow-up text-success"></i>
            {% elif data.price < data.previous_price %} <i class="fas fa-arrow-down text-danger"></i>
              {% else %}
              <i class="fas fa-minus text-secondary"></i>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->
  </section>

  <section class="card card-body mt-2" style="display:flex; justify-content:center; align-items:center;">
    <div style="display:flex;">
      <div style="flex:1; font-size:14px;">
        <iframe
          style="width:230px;height:260px;border-radius:5px;display:flex;justify-content:center;"
          src="https://dolarhoy.com/i/cotizaciones/dolar-bancos-y-casas-de-cambio" frameborder="0"></iframe>
      </div>
      <div style="flex:1;">
        <iframe
          style="width:230px;height:260px;border-radius:5px;display:flex;justify-content:center;"
          src="https://dolarhoy.com/i/cotizaciones/dolar-blue" frameborder="0"></iframe>
      </div>
    </div>
  </section>
</main>
<style>
  .card-body a {
    margin: 0 4px;
  }
  </style>

{% endblock %}