{% extends 'base.html' %}
{% block js%}
{% if messages %}
{% for m in messages %}
<script>
  Swal.fire({
    // "position": 'top',
    "title": "{{m}}",
    "timer": 3000,
    "showConfirmButton": false,
    "text": "Empecemos a trabajar",
    "backdrop": `rgba(36, 125, 250, 0.43)`,
    // "imageUrl": 'https://gifdb.com/images/high/whip-angry-mr-burns-hans-moleman-simpsons-yoskjr7b6xpf12w5.gif',
    // "imageUrl": '/media/whips_yelling.gif', 
    "icon": 'success',
    "imageWidth": 350,
    "imageHeight": 200,
  })
</script>
{% endfor %}
{% endif %}
{% endblock %}





{% block content %}

<h3 class="text-center">{{mensaje}}</h3>

<main class="container" style="max-width:580px;">
  <section class="card card-body">
    <!-- <h1 class="display-6 text-center">LAPP</h1> -->

    <!--  {% if count_tasks == 0 %}
  {% csrf_token %}
  <a class="btn btn-primary" href="/create_task/" style=margin-top:6px;><i class="bi bi-clipboard2-pulse"></i><br>Nueva Tarea</a>
  {% endif %} -->
    <a class="btn btn-success" href="/tasks/" style=margin-top:5px;><i class="bi bi-alarm-fill"></i><br>Tareas en
      Ejecución</a>
    <a class="btn btn-secondary" href="/tasks_completed/" style=margin-top:5px;><i
        class="bi bi-check-square-fill"></i><br>Tareas completadas</a>
  </section>

  <!-- ***************************************************************************************************************************************************** -->

  <section class="card card-body mt-2">
    <!-- <h1 class="display-6 text-center">Enlaces</h1> -->
    <a class="btn btn-outline-primary" href="http://10.45.0.103/share/page/site/bitfarms-arg/links-linkedit"
      style=margin-top:8px; target="_blank" rel="noopener noreferrer">Alfresco - Bitfarms ARG</a>
    <a class="btn btn-outline-primary" href="https://bitfarms.com/" style=margin-top:8px; target="_blank" rel="noopener noreferrer">Bitfarms</a>
    <a class="btn btn-outline-primary" href="https://expense.certify.com/Login.aspx" style=margin-top:8px; target="_blank" rel="noopener noreferrer">Certify</a>
    <a class="btn btn-outline-primary" href="https://mgmt.bitfarms.com/login" style=margin-top:8px; target="_blank" rel="noopener noreferrer">MGMT Bitfamrs</a>
    <a class="btn btn-outline-primary" href="https://www.whatsminer.com/" style=margin-top:8px; target="_blank" rel="noopener noreferrer">Whatsminer</a>
  </section>

  <!-- ***************************************************************************************************************************************************** -->

  <!-- <section class="card card-body mt-3 mb-3">
    <h1 class="display-6 text-center">BTC/USD | 24horas</h1>
    {{ plot_html|safe }}
  </section> -->


  <section class="card card-body mt-2 mb-2">
    <table class="table sm">
      <thead>
        <tr>
          <th scope="col" style="text-align:center;">Crypto</th>
          <th scope="col" style="text-align:right;">Price (USD)</th>
          <th scope="col" style="text-align:center;">Change</th>
        </tr>
      </thead>
      <tbody>
        {% for symbol, data in prices.items %}
        <tr>
          <th scope="row" style="text-align:center;">{{ symbol|cut:"/USD" }}</th>
          <td style="text-align:right;">{{ data.price|floatformat:"2g" }}</td>
          <td style="text-align:center;">
            {% if data.price > data.previous_price %}
            <i class="fas fa-arrow-up text-success"></i>
            {% elif data.price < data.previous_price %} <i class="fas fa-arrow-down text-danger"></i>
            {% else %}
            <i class="fas fa-minus text-secondary"></i>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</main>

{% endblock %}