{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mb-4">Lista de Horas Extra por Usuario</h2>

<!-- Primera tabla: Detalles de horas extras para todos los usuarios -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Desde/Inicio</th>
            <th>Hasta/Fin</th>
            <th>Justificación</th>
            <th>Horas</th>
            <th style="text-align: center">Estado</th>
            <th>Feedback</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for horas in horas_extras %}
        <tr>
            <td style="text-align: left; vertical-align: middle;">{{ horas.usuario.username }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ horas.fecha_inicio|date:"d/m/y" }} {{ horas.hora_inicio|time:"H:i" }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ horas.fecha_fin|date:"d/m/y" }} {{ horas.hora_fin|time:"H:i" }}</td>
            <td>{{ horas.justificar|default:"-" }}</td>
            <td style="text-align: left; vertical-align: middle;">{{ horas.total_horas }}</td>
            <td style="text-align: center; vertical-align: middle;">
                {% if horas.aprobado is None %}
                    Pendiente
                {% elif horas.aprobado %}
                    <strong>Aprobado</strong> <br><small>{{ horas.fecha_aprobacion|date:"d/m/y H:i" }}</small>
                {% else %}
                    <strong>Rechazado</strong> <br><small>{{ horas.fecha_aprobacion|date:"d/m/y H:i" }}</small>
                {% endif %}
            </td>
            <td>{{ horas.feedback_admin|default:"-" }}</td>
            <td>
                <form method="post" action="{% url 'aprobar_rechazar_horas_extra' horas.id %}">
                    {% csrf_token %}
                    <input type="text" name="feedback" placeholder="Escriba el feedback" class="form-control mb-2">
                    <div class="d-flex gap-2">
                        <button type="submit" name="accion" value="aprobar" class="btn btn-success btn-sm flex-fill" 
                            {% if horas.aprobado == True %}disabled{% endif %}>
                            <i class="bi bi-hand-thumbs-up-fill"></i> Aprobar
                        </button>
                        <button type="submit" name="accion" value="rechazar" class="btn btn-danger btn-sm flex-fill" 
                            {% if horas.aprobado == False %}disabled{% endif %}>
                            <i class="bi bi-hand-thumbs-down-fill"></i> Rechazar
                        </button>
                    </div>
                </form>
            </td>
            
        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-center">No hay registros de horas extras.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3 class="text-center my-4">Total de Horas Extra por Mes/Usuario</h3>

<!-- Segunda tabla: Total de horas por mes y usuario -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Usuario</th>
            <th>Total Horas</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in horas_por_mes_usuario %}
        <tr>
            <td>{{ registro.fecha_ficticia|date:"y F" }}</td>
            <td>{{ registro.usuario__username }}</td>
            <td>{{ registro.total_horas }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">No hay registros mensuales por usuario.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3 class="text-center my-4">Total de Horas Extra por Mes</h3>

<!-- Tercera tabla: Total de horas por mes -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Total Horas</th>
        </tr>
    </thead>
    <tbody>
        {% for mes in horas_por_mes %}
        <tr>
            <td>{{ mes.fecha_ficticia|date:"y F" }}</td>
            <td>{{ mes.total_horas }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="text-center">No hay registros mensuales.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
