{% extends 'base.html' %}
{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form action="/signup/" method="POST" class="card card-body">
        <h1 class="display-5 text-center">Registrarse</h1>
        <p><br></p>
        {% csrf_token %}
        {{form}}        
        <p><br></p>
        <h5 class="text-center">{{error}}</h5>
        <p><br></p>
        <button class="btn btn-primary">
          Signup
        </button>
      </form>
    </div>
  </div>

</main>

{% endblock %}
