{% extends 'base.html' %}

{% block js%}
{% if ganadores %}
<script>
    Swal.fire({
        // icon: 'success',
        title: '¡Felicidades!',
        html: 'Los ganadores son:<br><br>{% for ganador in ganadores %}<strong>{{ ganador.username }}</strong><br>{% endfor %}',
        confirmButtonText: '<i class="bi bi-hand-thumbs-up-fill"></i> Genial!',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        backdrop: 'rgba(0,0,123,0.4)',
        imageUrl: '/media/hand_claps.gif',
        imageWidth: 350,
        imageHeight: 200,
        imageAlt: 'Custom image',
    }).then(function () {
        window.location.href = "{% url 'historial_sorteos' %}";
    });
</script>
{% endif %}
{% endblock %}

{% block content %}
<style>
    body {
        color: white;
    }
</style>
{% load crispy_forms_tags %}

<h1>Ganadores</h1>
<ul>
    {% for ganador in ganadores %}
    <li>{{ ganador.username }}</li>
    {% endfor %}
</ul>

{% endblock %}