{% extends 'base.html' %}

{% block js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    let mainDishSelect = document.querySelector('select[name="main_dish"]');
    let saladSelect = document.querySelector('select[name="salad"]');
    let otherDishSelect = document.querySelector('select[name="other_dish"]');
    let sideDishSelect = document.querySelector('select[name="side_dish"]');
    let commentsTextarea = document.querySelector('textarea[name="comments"]');
    let resetButton = document.querySelector('button[type="reset"]');

    function toggleDisabled(selectElement, disable) {
        selectElement.disabled = disable;
        if (disable) {
            selectElement.value = '';
        }
    }

    mainDishSelect.addEventListener('change', function() {
        let mainDishSelected = mainDishSelect.value !== '';
        toggleDisabled(saladSelect, mainDishSelected);
        toggleDisabled(otherDishSelect, mainDishSelected);

        if (mainDishSelected) {
            toggleDisabled(sideDishSelect, true); // Deshabilitar guarnición
        }
    });

    saladSelect.addEventListener('change', function() {
        let saladSelected = saladSelect.value !== '';
        toggleDisabled(mainDishSelect, saladSelected);
        toggleDisabled(otherDishSelect, saladSelected);
        
        if (saladSelected) {
           toggleDisabled(sideDishSelect, true); // Deshabilitar guarnición
        }
    });

    otherDishSelect.addEventListener('change', function() {
        let selectedOption = otherDishSelect.options[otherDishSelect.selectedIndex];
        let plusSide = selectedOption.getAttribute('data-plus-side') === "true";

        // Habilitar o deshabilitar el campo de guarnición según `plus_side`
        toggleDisabled(sideDishSelect, !plusSide);

        // Deshabilitar otros selects
        let otherDishSelected = otherDishSelect.value !== '';
        toggleDisabled(mainDishSelect, otherDishSelected);
        toggleDisabled(saladSelect, otherDishSelected);
    
        // Limpiar guarnición si no es requerida
        if (!plusSide) {
            sideDishSelect.value = '';
        }
    });

    document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault();

        let mainDish = mainDishSelect.value;
        let salad = saladSelect.value;
        let otherDish = otherDishSelect.value;
        let selectedOption = otherDishSelect.options[otherDishSelect.selectedIndex];
        let plusSide = selectedOption && selectedOption.getAttribute('data-plus-side') === "true";

        // Validar si se ha seleccionado un plato principal, ensalada o plato de dieta
        if (!mainDish && !salad && !otherDish) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Debe seleccionar al menos un menú principal, una ensalada o un menú de dieta.'
            });
            return;
        }

        // Validar si 'other_dish' requiere una guarnición pero no se seleccionó
        if (plusSide && !sideDishSelect.value) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Debe seleccionar una guarnición para el plato seleccionado.'
            });
            return;
        }

        let form = event.target;
        let formData = new FormData(form);

        fetch("{% url 'edit_order' order.id %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: '¡Modificación Exitosa!',
                    html: 'Hemos modificado tu pedido',
                    confirmButtonText: 'Entendido'
                }).then(function () {
                    window.location.href = "{% url 'mis_ordenes' %}";
                });
            } else if (data.error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.error
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    resetButton.addEventListener('click', function() {
        mainDishSelect.disabled = false;
        saladSelect.disabled = false;
        otherDishSelect.disabled = false;
        sideDishSelect.disabled = true;
    });
});
</script>
{% endblock %}


{% block content %}
<main class="container" style="max-width:600px;">
    <section class="card card-body">
        <header>
            <h1 class="display-6 text-center">Editar Pedido</h1>
        </header>
        <form method="post" enctype="multipart/form-data" class="w-100">
            {% csrf_token %}
            <div class="row justify-content-center mt-3">
                <div class="form-group mb-2">
                    <label for="main_dish">Menú del día:</label>
                    <select name="main_dish" class="form-control">
                        <option value="">Seleccionar plato principal</option>
                        {% for dish in main_dishes %}
                        <option value="{{ dish }}" {% if dish == order.main_dish %}selected{% endif %}>
                            {{ dish }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2">
                    <label for="salad">Ensalada</label>
                    <select name="salad" class="form-control">
                        <option value="">Seleccionar ensalada</option>
                        {% for salad in salads %}
                        <option value="{{ salad.id }}" {% if order.salad and salad.id == order.salad.id %}selected{% endif %}>
                            {{ salad.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2">
                    <label for="other_dish">Dieta</label>
                    <select name="other_dish" class="form-control">
                        <option value="">Seleccionar otro plato</option>
                        {% for other_dish in other_dishes %}
                        <option value="{{ other_dish.id }}" data-plus-side="{{ other_dish.plus_side|yesno:"true,false" }}" {% if order.other_dish and order.other_dish.id == other_dish.id %}selected{% endif %}>
                            {{ other_dish.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2">
                    <label for="side_dish">Guarnición</label>
                    <select name="side_dish" class="form-control" {% if not order.other_dish or not order.other_dish.plus_side %}disabled{% endif %}>
                        <option value="">Seleccionar guarnición</option>
                        {% for side_dish in side_dishes %}
                        <option value="{{ side_dish.id }}" {% if order.side_dish and order.side_dish.id == side_dish.id %}selected{% endif %}>
                            {{ side_dish.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2">
                    <label for="comments">Comentarios</label>
                    <textarea name="comments" class="form-control" rows="3">{{ order.comments }}</textarea>
                </div>
            </div>

            <button class="btn btn-primary w-100" style="margin-top: 12px" type="submit">Actualizar Pedido</button>
            <div class="d-flex">
                <a href="{% url 'mis_ordenes' %}" style="margin-top: 8px" class="btn btn-secondary flex-fill">Cancelar</a>
            </div>
        </form>
    </section>
</main>
{% endblock %}
