{% extends 'base.html' %}
{% block js%}
{% if messages %}
{% for m in messages %}
<script>
  Swal.fire({
    // "position": 'top',
    "title": "{{m}}",
    "timer": 3000,
    "showConfirmButton": false,
    "text": "Empecemos a trabajar",
    "backdrop": `rgba(36, 125, 250, 0.43)`,
    // "imageUrl": 'https://gifdb.com/images/high/whip-angry-mr-burns-hans-moleman-simpsons-yoskjr7b6xpf12w5.gif',
    // "imageUrl": '/media/whips_yelling.gif', 
    "icon": 'success',
    "imageWidth": 350,
    "imageHeight": 200,
  })
</script>
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}

<h3 class="text-center">{{mensaje}}</h3>

<!-- ***************************************************************************************************************************************************** -->

<main class="container" style="max-width:580px;">
  <section class="card card-body">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
      <a class="btn btn-success w-50" href="/tasks/" ;><i class="bi bi-alarm-fill"></i><br>Tareas en Ejecución</a>
      <a class="btn btn-secondary w-50" href="/tasks_completed/"><i class="bi bi-check-square-fill"></i><br>Tareas
        completadas</a>
    </div>
  <!-- </section> -->

  <!-- ***************************************************************************************************************************************************** -->

  <!-- <section class="card card-body mt-2"> -->
    <a class="btn btn-warning" href="/guardias/" style=margin-top:8px;><i class="bi bi-calendar-check-fill"></i><br>Fechas de Guardias</a>
  <!-- </section> -->

  <!-- ***************************************************************************************************************************************************** -->

  <!-- <section class="card card-body mt-2"> -->
    <a class="btn btn-info" href="/historial/" style=margin-top:9px;><i class="bi bi-tornado"></i><br>Sorteos</a>
  </section>

  <!-- ***************************************************************************************************************************************************** -->

  <section class="card card-body mt-2">
    <!-- <h1 class="display-6 text-center">Enlaces</h1> -->
    <a class="btn btn-outline-primary" href="https://bitfarms.com/" ; target="_blank"
      rel="noopener noreferrer"><strong>Bitfarms</strong>.com</a>
    <a class="btn btn-outline-primary" href="https://tech.binfra.ca/en/home" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>BF Tech Wiki</strong> Bitfarms</a>
    <a class="btn btn-outline-primary" href="https://bitfarmsio868.sharepoint.com/sites/BitfarmsArgentina"
      style=margin-top:5px; target="_blank" rel="noopener noreferrer"><strong>Sharepoint</strong> Bitfarms ARG</a>
    <a class="btn btn-outline-primary" href="https://bitfarmsworkspace.slack.com" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>Slack</strong> Workspace</a>
    <a class="btn btn-outline-primary" href="https://app.hibob.com/" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>HiBob</strong> HR platform</a>
    <a class="btn btn-outline-primary" href="https://mgmt.bitfarms.com/login" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>MGMT</strong> Bitfamrs</a>
    <a class="btn btn-outline-primary" href="https://tickets.binfra.ca/" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>Tickets</strong>.binfra.ca</a>
    <a class="btn btn-outline-primary"
      href="https://app.powerbi.com/view?r=eyJrIjoiMjAwZmEwZmItNjdkNi00YjgzLTg4NTktMjAwMTcxMGU5YWVkIiwidCI6ImFlNWI1YThmLTVmYzAtNDU3Yi05OGJhLTk3ZDYyZWZhMmFhMiIsImMiOjR9"
      style=margin-top:5px; target="_blank" rel="noopener noreferrer"><strong>Dashboard PowerBi |</strong> Central
      Termica</a>
  </section>
  <!-- ***************************************************************************************************************************************************** -->

  <section class="card card-body mt-2 mb-2">

    <body>
      <table class="table table-sm">
        <tbody id="dolarData"></tbody>
      </table>
      
      <script>
        fetch('https://criptoya.com/api/dolar')
        .then(response => response.json())
        .then(data => {
          const dolarData = [
            { descripcion: 'Cotización Banco Nación (Oficial)', valor: data.oficial },
            { descripcion: 'Dólar Bolsa (MEP)', valor: data.mep },
            { descripcion: 'Dólar Contado con Liquidación (CCL)', valor: data.ccl },
            { descripcion: 'Dólar Contado con Bitcoin o Dólar Cripto (CCB)', valor: data.ccb },
            { descripcion: 'Dólar Informal (Blue)', valor: data.blue },
            { descripcion: 'Hora de la consulta', valor: new Date(data.time * 1000).toLocaleString() }
            ];

            
            const dolarDataElement = document.getElementById('dolarData');
            dolarData.forEach(item => {
              const row = document.createElement('tr');
              const descripcionCell = document.createElement('td');
              const valorCell = document.createElement('td');
              
              descripcionCell.textContent = item.descripcion;
              valorCell.textContent = item.valor;
              
              
              valorCell.style.textAlign = 'right';
              
              row.appendChild(descripcionCell);
              row.appendChild(valorCell);
              
              dolarDataElement.appendChild(row);
            });
          })
          .catch(error => {
            console.error('Error al obtener los datos del Dólar:', error);
          });
          </script>
    </body>
    <script src="https://public.bnbstatic.com/unpkg/growth-widget/cryptoCurrencyWidget@0.0.9.min.js"></script>
    <div class="binance-widget-marquee" data-cmc-ids="1,1027,5426,3890" data-theme="light" data-transparent="true"
      data-locale="en" data-powered-by="Powered by" ></div>
  </section>
  
</main>
<style>
  .card-body a {
    margin: 0 4px;
  }
</style>

{% endblock %}