{% extends 'base.html' %}
{% block js%}
{% if messages %}
{% for m in messages %}
<script>
  Swal.fire({
    // "position": 'top',
    "title": "{{m}}",
    "timer": 3000,
    "showConfirmButton": false,
    "text": "Empecemos a trabajar",
    "backdrop": `rgba(36, 125, 250, 0.43)`,
    // "imageUrl": 'https://gifdb.com/images/high/whip-angry-mr-burns-hans-moleman-simpsons-yoskjr7b6xpf12w5.gif',
    // "imageUrl": '/media/whips_yelling.gif', 
    "icon": 'success',
    "imageWidth": 350,
    "imageHeight": 200,
  })
</script>
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}

<h3 class="text-center">{{mensaje}}</h3>

<!-- ***************************************************************************************************************************************************** -->

<main class="container" style="max-width:580px;">
  <section class="card card-body">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
      <a class="btn btn-success w-50" href="/tasks/" ;><i class="bi bi-alarm-fill"></i><br>Tareas en Ejecución</a>
      <a class="btn btn-secondary w-50" href="/tasks_completed/"><i class="bi bi-check-square-fill"></i><br>Tareas
        completadas</a>
    </div>
  </section>

  <!-- ***************************************************************************************************************************************************** -->

  <section class="card card-body mt-2">
    <a class="btn btn-warning" href="/guardias/"><i class="bi bi-calendar-check-fill"></i><br>Fechas de Guardias</a>
  </section>

  <!-- ***************************************************************************************************************************************************** -->

  <section class="card card-body mt-2">
    <a class="btn btn-info" href="/historial/"><i class="bi bi-tornado"></i><br>Sorteos</a>
  </section>

  <!-- ***************************************************************************************************************************************************** -->

  <section class="card card-body mt-2">
    <!-- <h1 class="display-6 text-center">Enlaces</h1> -->
    <a class="btn btn-outline-primary" href="https://bitfarms.com/" ; target="_blank"
      rel="noopener noreferrer"><strong>Bitfarms</strong>.com</a>
    <a class="btn btn-outline-primary" href="https://tech.binfra.ca/en/home" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>BF Tech Wiki</strong> Bitfarms</a>
    <a class="btn btn-outline-primary" href="https://bitfarmsio868.sharepoint.com/sites/BitfarmsArgentina"
      style=margin-top:5px; target="_blank" rel="noopener noreferrer"><strong>Sharepoint</strong> Bitfarms ARG</a>
    <a class="btn btn-outline-primary" href="https://bitfarmsworkspace.slack.com" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>Slack</strong> Workspace</a>
    <a class="btn btn-outline-primary" href="https://app.hibob.com/" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>HiBob</strong> HR platform</a>
    <a class="btn btn-outline-primary" href="https://mgmt.bitfarms.com/login" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>MGMT</strong> Bitfamrs</a>
    <a class="btn btn-outline-primary" href="https://tickets.binfra.ca/" style=margin-top:5px; target="_blank"
      rel="noopener noreferrer"><strong>Tickets</strong>.binfra.ca</a>
    <a class="btn btn-outline-primary"
      href="https://app.powerbi.com/view?r=eyJrIjoiMjAwZmEwZmItNjdkNi00YjgzLTg4NTktMjAwMTcxMGU5YWVkIiwidCI6ImFlNWI1YThmLTVmYzAtNDU3Yi05OGJhLTk3ZDYyZWZhMmFhMiIsImMiOjR9"
      style=margin-top:5px; target="_blank" rel="noopener noreferrer"><strong>Dashboard PowerBi |</strong> Central
      Termica</a>
  </section>
  <!-- ***************************************************************************************************************************************************** -->

  <!-- <section class="card card-body mt-3 mb-3">
    <h1 class="display-6 text-center">BTC/USD | 24horas</h1>
    {{ plot_html|safe }}
  </section> -->


  <section class="card card-body mt-2 mb-2"> 
    <body>
      <!-- <h4>Cotización del Dólar</h4> -->
      <table class="table table-sm">
        <tbody id="dolarData"></tbody>
      </table>
    
      <script>
        // Realizar la solicitud HTTP
        fetch('https://criptoya.com/api/dolar')
          .then(response => response.json())
          .then(data => {
            // Procesar los datos de la respuesta
            const dolarData = [
              { descripcion: 'Cotización Banco Nación (Oficial)', valor: data.oficial },
              { descripcion: 'Cotización con impuesto PAIS + Imp. GANANCIAS (Solidario)', valor: data.solidario },
              { descripcion: 'Dólar Bolsa (MEP)', valor: data.mep },
              { descripcion: 'Dólar Bolsa (calculado con el bono GD30)', valor: data.mepgd30 },
              { descripcion: 'Variación del dólar MEP respecto al día anterior', valor: data.mep_var },
              { descripcion: 'Dólar Contado con Liquidación (CCL)', valor: data.ccl },
              { descripcion: 'Dólar Contado con Liquidación (calculado con el bono GD30)', valor: data.cclgd30 },
              { descripcion: 'Variación del dólar CCL respecto al día anterior', valor: data.ccl_var },
              { descripcion: 'Dólar Contado con Bitcoin o Dólar Cripto (CCB)', valor: data.ccb },
              { descripcion: 'Variación del dólar Cripto respecto al día anterior', valor: data.ccb_var },
              { descripcion: 'Dólar Informal (Blue)', valor: data.blue },
              { descripcion: 'Variación del dólar Blue respecto al día anterior', valor: data.blue_var },
              { descripcion: 'Hora de la consulta', valor: new Date(data.time * 1000).toLocaleString() }
            ];
    
            // Mostrar los datos en la tabla
            const dolarDataElement = document.getElementById('dolarData');
            dolarData.forEach(item => {
              const row = document.createElement('tr');
              const descripcionCell = document.createElement('td');
              const valorCell = document.createElement('td');
    
              descripcionCell.textContent = item.descripcion;
              valorCell.textContent = item.valor;
    
              // Estilo para alinear a la derecha los valores numéricos
              valorCell.style.textAlign = 'right';
    
              row.appendChild(descripcionCell);
              row.appendChild(valorCell);
    
              dolarDataElement.appendChild(row);
            });
          })
          .catch(error => {
            console.error('Error al obtener los datos del Dólar:', error);
          });
      </script>
    </body>
  </section>

  <!-- <section class="card card-body mt-2" style="display:flex; justify-content:center; align-items:center;">
    <div style="display:flex;">
      <div style="flex:1; font-size:14px;">
        <iframe style="width:230px;height:260px;border-radius:5px;display:flex;justify-content:center;"
          src="https://dolarhoy.com/i/cotizaciones/dolar-bancos-y-casas-de-cambio" frameborder="0"></iframe>
      </div>
      <div style="flex:1;">
        <iframe style="width:230px;height:260px;border-radius:5px;display:flex;justify-content:center;"
          src="https://dolarhoy.com/i/cotizaciones/dolar-blue" frameborder="0"></iframe>
      </div>
    </div>
  </section> -->
</main>
<style>
  .card-body a {
    margin: 0 4px;
  }
</style>

{% endblock %}